{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Transactions</h1>
    <table id="transactionsTable" class="display responsive">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
                <th>Payment Details</th>
                <th>Vendor</th>
                <th>Firm</th>
                <th>Payment Type</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.paymentDate.strftime('%Y-%m-%d') }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.paymentDetails }}</td>
                    <td>{{ transaction.vendor.name }}</td>
                    <td>{{ transaction.firm.name }}</td>
                    <td>{{ transaction.paymentType }}</td>
                    <td>{{ transaction.project.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Display the DataTables Buttons with Copy, and CSV options -->
    <div class="text-center mt-3">
        <h5>Total Amount: Rs. <span id="amountValue">0.00</span></h5>
        <button onclick="exportPDF()">Export as PDF</button>
        <button onclick="exportExcel()">Export as Excel</button>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table = $('#transactionsTable').DataTable({
            columnDefs: [
                { type: 'date-euro', targets: 1 }
            ],
            order: [[1, 'desc']],
        });

        // Function to calculate and update the total amount
        function updateTotalAmount() {
            var total = 0;
            table.rows({ search: 'applied' }).data().each(function (row) {
                total += parseFloat(row[0]);
            });
            $('#amountValue').text(total.toFixed(2));
        }

        // Initial total calculation
        updateTotalAmount();

        // Event listener for table draw event (e.g., after filtering)
        table.on('draw', function () {
            updateTotalAmount();
        });
    });

    // Function to export table as PDF
    function exportPDF() {
        // Implement the logic to export the table as PDF using Python
        window.location.href = '/export_pdf';
    }

    // Function to export table as Excel
    function exportExcel() {
        // Implement the logic to export the table as Excel using Python
        window.location.href = '/export_excel';
    }
</script>

{% endblock %}
