{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Transactions</h1>
    <table id="transactionsTable" class="display">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
                <th>Payment Details</th>
                <th>Vendor</th>
                <th>Firm</th>
                <th>Project</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.paymentDate }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.paymentDetails }}</td>
                    <td>{{ transaction.vendor.name }}</td>
                    <td>{{ transaction.firm.name }}</td>
                    <td>{{ transaction.project.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5 id="totalAmount">Total Amount: {{ total_amount }}</h5>
</div>

<script>
    $(document).ready(function() {
        var table = $('#transactionsTable').DataTable({
            columnDefs: [
                { type: 'date-euro', targets: 1 }
            ],
            order: [[1, 'desc']]
        });

        // Function to calculate and update the total amount
        function updateTotalAmount() {
            var total = 0;
            table.rows({ search: 'applied' }).data().each(function (row) {
                total += parseFloat(row[0]);
            });
            $('#totalAmount').text('Total Amount:  Rs. ' + total.toFixed(2));
        }

        // Initial total calculation
        updateTotalAmount();

        // Event listener for table draw event (e.g., after filtering)
        table.on('draw', function () {
            updateTotalAmount();
        });
    });
</script>
{% endblock %}
